:root{
 --color:rgba(245, 247, 255, 0.85);
 --pgColor:#1F1249;
 --formSecColor:#98AEF8;
 --formText:#3B3B3B;
}
html{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

body{
     background-color:var(--color);
    }

.btnColor{
    background-image: linear-gradient(135deg,#2663DF,#758FF0);
}
.registerColor{
    color:var(--formSecColor);
}
.fBold{
    font-weight: 700;
}
.ps-6{
    padding-left:calc(2.3rem + 10px);
}

.fs-wHeading{
    line-height: 1.2;
    font-weight: 700;
    font-size:2.6rem ;
}
.fs-OHeading{
    line-height: 1.2;
    font-weight: 700;
    font-size:2rem ;
}
.f-p{
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 300;
    color:var(--pgColor);
}
.btnLine{
    line-height: 1.4;
}
.form-control{
    border:.5px solid var(--formSecColor);
}
.form-control:focus{
        box-shadow: none;
        border-width: 2px;
}
.form-control::placeholder{
    color:var(--formText);
    font-weight: 300;
}
.bgColor{
    background-color:var(--color);
}
.icon{
    z-index:4;
    top:12.5px;
    left:15px;
    padding-right:8px;
    border-right:1px solid var(--formSecColor);
}
.Invaild{
  border:2px solid #DC3545 !important  
}

@media screen and (min-width:768px){
   
    body{
        background-image: linear-gradient(135deg,#E5BFD1,#E6BED1,#E3CDE2 ,#cbd6f9,#DDE1F6,#B9C8F9 90%); 
        }
    .parent{
        width:90%;
        margin:0 auto;
    }
    #register{
                width:100%;
    }
    .successfullParent{
        height: 100vh;
    }
}


@media screen and (min-width:992px){
     .fullParent{
        height: 100vh;
    }
     .fs-wHeading{
            font-size:3rem ;
        }
    .fs-OHeading{
        font-size:2.6rem ;
        }
}

@media screen and (min-width:1200px){
    
    .parent{
        width:80%;
        margin:0 auto;
    }    
}